@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron transparent drop-shadow-primary-4 text-center">
        <p>
            Ballance is Irrelevant, there is only Influence.
        </p>
        <p>
            Through Influence we gain Knowlage.
        </p>
        <p>
            Through Knowlage we gain Wisdom.
        </p>
        <p>
            Through Wisdom we are Enlightened.
        </p>
        <p>
            When Enlightened we gain Influance.
        </p>
        <p>
            We follow the Circle of the Force.
        </p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
<div class="row">
    <div class="col-12">
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card card-primary box-shadow-primary">
            <div class="card-header">
                <h2>Getting started</h2>
            </div>
            <div class="card-body">
                <p>
                    ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                    enables a clean separation of concerns and gives you full control over markup
                    for enjoyable, agile development.
                </p>
            </div>
            <div class="card-footer">

                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>
        </div>
        
        
    </div>
    <div class="col-md-4">
        <div class="card card-primary transparent box-shadow-primary">
            <div class="card-header">
                <h2>Get more libraries</h2>
            </div>
            <div class="card-body">
                <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>

            </div>
            <div class="card-footer">
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>

            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>