@model WebApplication2.Models.UnauthorizedVM
    <div class="alert alert-danger">
        <h1>Unauthorized</h1>
        <p>You are unauthorized to access: </p>

        <p>@Model.Message</p>
    </div>

