
<div class="sidebar-header row border-bottom">        
    <div class="col-12">
        @RenderSection("SideMenuHeader", required: false)        
    </div>
</div>
<div class="sidebar-body row">
    <div class="col-12">
        @RenderSection("SideMenuBody", required: false)        
    </div>
</div>

