
<div class="modal fade" tabindex="0" role="dialog" data-application-modal="modal">
    <div class="modal-dialog" data-application-modal="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-application-modal="title"></h5>
                <button type="button" data-dismiss="modal" data-application-modal="close" aria-label="Close" title="Close" class="btn btn-link">
                    <span aria-hidden="true"><i class="fa fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" data-application-modal="body">

            </div>
            <div class="modal-footer" data-application-modal="footer">

            </div>
        </div>
    </div>
</div>
