<div class="modal fade" tabindex="0" data-backdrop="static" data-keyboard="false" role="dialog" data-warning-modal="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">Application Inactivity Warning</h5>
            </div>
            <div class="modal-body text-center">
                <h5>Application will automatically logout in</h5>
                <h2 data-warning-modal="counter"></h2>
            </div>
            <div class="modal-footer">
                <span class="text-left">
                    Are you still working?
                </span>
                <span class="text-right">
                    <button id="__ApplicationTimoutModalLogout" data-warning-modal="logout" type="button" class="btn btn-secondary">No</button>
                    <button id="__ApplicationTimoutModalResume" data-warning-modal="resume" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                </span>
            </div>
        </div>
    </div>
</div>