
<div class="sidebar-header row border-bottom">
    <div class="col-12">
        <h3>Bootstrap Sidebar</h3>
        <p>Dummy Heading</p>
    </div>
</div>
<div class="sidebar-body row">
    <div class="col-12">
        <div class="row sidebar-body-item">
            <div class="col-12 py-2">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
            </div>
        </div>
        <div class="collapse row sidebar-body-item submenu" id="homeSubmenu" data-parent=".sidebar-body">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row sidebar-body-item">
            <div class="col-12 py-2">
                <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sub Menu 2</a>
            </div>
        </div>
        <div class="collapse row sidebar-body-item submenu" id="homeSubmenu2" data-parent=".sidebar-body">
            <div class="col-12">
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row sidebar-body-item">
            <div class="col-12 py-2">
                <a href="#">Link</a>
            </div>
        </div>
    </div>
</div>

